.editor-container {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  width: 80%;
  max-width: 1000px;
}

.content-container {
  display: flex;
  flex-direction: column;
  row-gap: 0px;
  width: 80%;
  max-width: 900px;
}
pre {
  padding: 16px;
  background-color: #181818;
  color: limegreen;
  white-space: pre-wrap;
}

.mdx-question-editor {
  border: 1px solid var(--light-line-color);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
  max-width: 900px
}

.mdx-question-editor .mdxeditor-toolbar {
  border-bottom: 1px solid var(--light-line-color);
  background-color: var(--light-background, #f9f9f9);
  max-width: 800px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.mdx-question-editor [contenteditable="true"] {
  padding: 16px;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  line-height: 24px;
  min-height: 120px;
}

.mdx-answer-editor  {
  font-family: "Times New Roman", Times, serif;
  line-height: 24px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  width: stretch;
}


.mdx-answer-editor p {
  margin: 0 !important
}

.mdx-question-editor p {
  margin: 0 !important
}

.pg-button {
  font-size: 12px;
  font-weight: 600;
  padding: 0 8px;
}

accept {
  color: green;
}

.editor-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  column-gap: 16px;
  font-weight: 300;
  font-family: var(--body-font);
  color: var(--light-font-color);
  max-width: 800px;
  
}

.editor-toolbar-buttons {
  display: flex;
  column-gap: 12px;
}

.editor-toolbar-copy-question {
  background-color: var(--light-background);
  border-color: var(--light-line-color);
}

.editor-toolbar-delete-question {
  background-color: var(--red-light);
  color: var(--red-dark);
  border-color: var(--red-light-border);
}

.editor-toolbar-question-length {
  display: flex;
  justify-content: flex-end;
  column-gap: 8px;
}

.editor-category-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  column-gap: 16px;
  font-family: var(--body-font);
  font-weight: 300;
  color: var(--text-color);
}

.editor-category-input {
  font-family: var(--body-font);
  font-weight: 300;
  color: var(--text-color);

  margin-left: 8px;
}

.pronunciation-guide {
  background-color: #ececec;
  color: var(--primary-color) !important;
  font-weight: 700;
  padding: 4px;
  border-radius: 8px;
}

.answerline {
  margin-top: 12px;
  margin-bottom: 8px;
}

.answerline-instruction {
  display: flex;
  column-gap: 8px;
  margin-bottom: 8px;
  align-items: center;
  width: 100%;
}

.answerline-button {
  border-color: var(--light-line-color);
}

.main-answer {
  font-family: 'Times New Roman', Times, serif;
  border: 1px solid var(--light-line-color);
  height: 28px;
  width: 100%;
}
